<hr>
<div class="container">
  <h1 style="font-size: 40pt;text-align: center;color: black"><b>Issue Book Details</b></h1>
  <div *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
    </div>
    
    <div class="row" >
          <div class="col-sm-4"></div>
          <div class="input-group col-sm-4">
                <input type="text" class="form-control" id="searchTextId" name="searchText" placeholder="Search By Name">
                <span class="input-group-addon"><i class="fas fa-search"></i></span>
          </div>
    </div>
      <hr>

      <div class="row">
            <div class="col-sm">
            <table class="table table-hover table-striped table-condensed  table-sm" id="mytable">
                  <thead class="">
                  <tr style="background-color: #85B3E9">
                    <th>Student Name</th>
                    <th>Email</th>
                    <th>Book Name</th>
                    <th>ISBN</th>
                    <th>Issue Date</th>
                    <th>Return Date</th>
                    <th>Note</th>
                    <th>Action</th>  
                   
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor = "let issue of IssueList">
                      <td>{{issue.s_name}}</td>
                      <td>{{issue.email}}</td>
                      <td>{{issue.book_name}}</td>
                      <td>{{issue.isbn}}</td>
                      <td>{{issue.b_date}}</td>
                      <td>{{issue.r_date}}</td>
                      <td>{{issue.note}}</td>
                     
                      
                      
          
                        <button class='btn btn-danger' (click)="deleteIssue(issue._id);deleteIssuetAlert()">
                        <i class='fa fa-trash fa-lg'></i>Delete
                        </button>
          
                        <button class='btn btn-success' id="mybutton" (click)="openEditModal(template1)" (click)="showEditForm(issue)">
                        <i class="fas fa-align-justify" ></i>View
                        </button>
                     
          
                    </tr>
                  </tbody>

            </table>
            
            <button class='btn btn-success' id="mybutton" (click)="openModal(template)"><i class='fa fa-plus-square fa-lg'></i></button>

           
            </div>
      </div>
      
</div>
<!--add issue book-->
<ng-template #template>
  <div style="width: 1200px;margin-left: -199px">
  <div class="row">
    <div class="modal-header col-sm">
      <div class="col-sm-2" >
      </div>
      <div class="col-sm-8">
          <h4 class="modal-title pull-center" id="myModalLabel"><br><i class="fas fa-plus-square fa-3x"></i><label id="modId"> Add Issue Book Details</label></h4>
      </div>
      <div class="col-sm-2">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="fas fa-window-close fa-2x"></i>
        </button>
      </div>

    </div>
  </div>
      <!--modal body-->
      <div class="row" >
      <div class="modal-body" >
            <form #itemForm = "ngForm" (ngSubmit) = "addIssue(itemForm)" *ngIf="!toggleForm"  class="form-horizontal">
                  

                  <div class="form-group row">
                        <label class="col-sm-3 control-label" style="margin-left: -120px">Student Name :</label>
                        <div class="col-sm-9">
                              <input class="form-control" type="text" name="s_name" ngModel required>
                        </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-3 control-label" style="margin-left: -120px">Email :</label>
                    <div class="col-sm-9">
                          <input class="form-control" type="text" name="email" ngModel required>
                    </div>
                  </div>
                 
                  <div class="form-group row">
                    <label class="col-sm-3 control-label" style="margin-left: -120px">Book Name :</label>
                    <div class="col-sm-9">
                          <input class="form-control" type="text" name="book_name" ngModel>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-3 control-label" style="margin-left: -120px">ISBN :</label>
                    <div class="col-sm-9">
                          <input class="form-control" type="text" name="isbn" ngModel>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-3 control-label" style="margin-left: -120px">Issue Date :</label>
                    <div class="col-sm-9">
                          <input class="form-control" type="date" name="b_date" ngModel>
                    </div>
                   </div>
                   <div class="form-group row">
                              <label class="col-sm-3 control-label" style="margin-left: -120px">Return Date :</label>
                              <div class="col-sm-9">
                                    <input class="form-control" type="date" name="r_date" ngModel>
                              </div>
                             </div>
                   <div class="form-group row">
                    <label class="col-sm-3 control-label" style="margin-left: -120px">Note :</label>
                    <div class="col-sm-9">
                          <input class="form-control" type="text" name="note" ngModel>
                    </div>
                   </div>
                  
                  <div class="form-group row">
                   <label class="col-sm-3 control-label" style="margin-left: -120px">Fine(Rs) :</label>
                   <div class="col-sm-9">
                         <input class="form-control" type="text" name="fine" ngModel>
                   </div>
                  </div>
            
                  <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                              
                              <button type="submit" class="btn btn-primary" (click)="addIssueAlert()">Submit</button>
                              <button type="submit" class="btn btn-warning" id="cancelbutton" data-toggle="modal" data-target="#myModal" (click)="modalRef.hide()">Cancel</button>&nbsp;
                              <button type="button" class="btn btn-warning" id="cancelbutton" data-toggle="modal" data-target="#myModal">Reset</button>
                        </div>
                  </div>
            </form>
      </div>
    </div>
    </div>
  
</ng-template>
<!--update issue book-->
<ng-template #template1>
    <div style="width: 1200px;margin-left: -199px">
    <div class="row">
      <div class="modal-header col-sm">
        <div class="col-sm-2" >
        </div>
        <div class="col-sm-8">
            <h4 class="modal-title pull-center" id="myModalLabel"><br><i class="fas fa-plus-square fa-3x"></i><label id="modId"> Edit Book Issue Details</label></h4>
        </div>
        <div class="col-sm-2">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-window-close fa-2x"></i>
          </button>
        </div>
  
      </div>
    </div>
        
        <div class="row" >
        <div class="modal-body" >
            
              <form #updateForm = "ngForm" (ngSubmit) = "updateIssue(updateForm)" class="form-horizontal" >
                    <input type="hidden" name="_id">
  
                    <div class="form-group row">
                          <label class="col-sm-3 control-label" style="margin-left: -120px">Student Name :</label>
                          <div class="col-sm-9">
                                <input class="form-control" type="text" name="s_name"  [ngModel]="selectedIssue.s_name" required>
                          </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 control-label" style="margin-left: -120px">Email :</label>
                      <div class="col-sm-9">
                            <input class="form-control" type="text" name="email"  [ngModel]="selectedIssue.email" required>
                      </div>
                    </div>
                   
                   
                    <div class="form-group row">
                      <label class="col-sm-3 control-label" style="margin-left: -120px">Book Name :</label>
                      <div class="col-sm-9">
                            <input class="form-control" type="text" name="book_name" [ngModel]="selectedIssue.book_name">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 control-label" style="margin-left: -120px">ISBN :</label>
                      <div class="col-sm-9">
                            <input class="form-control" type="text" name="isbn" [ngModel]="selectedIssue.isbn">
                      </div>
                     </div>

                     <div class="form-group row">
                        <label class="col-sm-3 control-label" style="margin-left: -120px">Issue Date :</label>
                        <div class="col-sm-9">
                              <input class="form-control" type="date" name="b_date" [ngModel]="selectedIssue.b_date">
                        </div>
                     </div>
                     <div class="form-group row">
                              <label class="col-sm-3 control-label" style="margin-left: -120px">Return Date :</label>
                              <div class="col-sm-9">
                                    <input class="form-control" type="date" name="r_date" [ngModel]="selectedIssue.r_date">
                              </div>
                           </div>
                     <div class="form-group row">
                      <label class="col-sm-3 control-label" style="margin-left: -120px">Note :</label>
                      <div class="col-sm-9">
                            <input class="form-control" type="text" name="note" [ngModel]="selectedIssue.note">
                      </div>
                     </div>
                     <div class="form-group row">
                              <label class="col-sm-3 control-label" style="margin-left: -120px">Fine(Rs) :</label>
                              <div class="col-sm-9">
                                    <input class="form-control" type="text" name="fine" [ngModel]="selectedIssue.fine">
                              </div>
                             </div>
            
                    <div class="form-group">
                          <div class="col-sm-offset-3 col-sm-9">
                                
                              <button type="submit" class="btn btn-primary" (click)="updateIssueAlert()">Submit</button>&nbsp;  
                              <button type="submit" class="btn btn-warning" id="cancelbutton" data-toggle="modal" data-target="#myModal" (click)="modalRef.hide()">Cancel</button>&nbsp;
                              <button type="button" class="btn btn-warning" id="cancelbutton" data-toggle="modal" data-target="#myModal">Reset</button>
                              
                  
                          </div>
                    </div>
                    
              </form>
        </div>
      </div>
      </div>
    
  </ng-template>
  
