<hr>

<div class="container">

  <h1 style="font-size: 40pt;text-align: center;color: black"><b>New Book Details</b></h1>

  <div *ngFor="let alert of alerts">
            <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
          </div>
    
  <div class="row">
      <div class="col-sm-4"></div>
      <div class="input-group col-sm-4">
            <input type="text" class="form-control" id="searchTextId" [(ngModel)]="searchText" name="searchText" placeholder="Search By Name">
            <span class="input-group-addon"><i class="fas fa-search"></i></span>
      </div>
</div>
      <hr>

      <div class="row">
            <div class="col-sm">
            <table class="table table-hover table-striped table-condensed  table-sm" id="mytable">
                  <thead class="">
                  <tr style="background-color: #85B3E9">
                    <th>ISBN</th>
                    <th>Book Name</th>
                    <th>Chategory</th>
                    <th>Subtitle</th>
                    <th>Author</th>
                    <th>Edition</th>
                    <th>Year of Edition</th>
                    <th>Total Book</th>  
                    <th>Price</th> 
                    <th>Action</th> 
                   
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor = "let addbook of AddbookList">
                      <td>{{addbook.isbn_no}}</td>
                      <td>{{addbook.book_name}}</td>
                      <td>{{addbook.title}}</td>
                      <td>{{addbook.subtitle}}</td>
                      <td>{{addbook.author}}</td>
                      <td>{{addbook.edition}}</td>
                      <td>{{addbook.year_of_edition}}</td>
                      <td>{{addbook.total_books}}</td>
                      <td>{{addbook.price}}</td>
                     
                        <button class='btn btn-danger' (click)="deletebook(addbook._id);deleteBookAlert()">
                        <i class='fa fa-trash fa-lg'></i>Delete
                        </button>
          
                        <button class='btn btn-success' id="mybutton" (click)="openEditModal(template1)" (click)="showEditForm(addbook)">
                        <i class="fas fa-align-justify" ></i>View
                        </button>
                    </tr>
                  </tbody>

            </table>
            
            <button class='btn btn-success' id="mybutton" (click)="openModal(template)"><i class='fa fa-plus-square fa-lg'></i></button>

           
            </div>
      </div>
      
</div>

<!--add book-->
<ng-template #template>
  <div style="width: 1200px;margin-left: -199px">
  <div class="row">
    <div class="modal-header col-sm">
      <div class="col-sm-2" >
      </div>
      <div class="col-sm-8">
          <h4 class="modal-title pull-center" id="myModalLabel"><br><i class="fas fa-plus-square fa-3x"></i><label id="modId"> Add New Book Details</label></h4>
      </div>
      <div class="col-sm-2">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="fas fa-window-close fa-2x"></i>
        </button>
      </div>

    </div>
  </div>
      <!--modal body-->
      <div class="row" >
      <div class="modal-body" >
            <form #itemForm = "ngForm" (ngSubmit) = "addbook(itemForm)" *ngIf="!toggleForm"  class="form-horizontal">
                  <input type="hidden" name="_id">

                  <div class="form-group row">
                        <label class="col-sm-3 control-label" style="margin-left: -120px">ISBN :</label>
                        <div class="col-sm-9">
                              <input class="form-control" type="text" name="isbn_no" ngModel required>
                        </div>
                  </div>
                  
                  <div class="form-group row">
                              <label class="col-sm-3 control-label" style="margin-left: -120px">Book Name :</label>
                              <div class="col-sm-9">
                                    <input class="form-control" type="text" name="book_name" ngModel required>
                              </div>
                        </div>
                  <div class="form-group row">
                    <label class="col-sm-3 control-label" style="margin-left: -120px">Chategory :</label>
                    <div class="col-sm-9">
                                <select class="form-control" type="text" id="category" name="title" ngModel>
                                      <option>Drama</option>
                                      <option>Joke</option>
                                      <option>Film</option>
                                </select>
                    </div>
                </div>
                 
                  <div class="form-group row">
                    <label class="col-sm-3 control-label" style="margin-left: -120px">Subtitle :</label>
                    <div class="col-sm-9">
                          <input class="form-control" type="text" name="subtitle" ngModel>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-3 control-label" style="margin-left: -120px">Author :</label>
                    <div class="col-sm-9">
                          <input class="form-control" type="text" name="author" ngModel>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-3 control-label" style="margin-left: -120px">Edition :</label>
                    <div class="col-sm-9">
                          <input class="form-control" type="text" name="edition" ngModel>
                    </div>
                   </div>
                   <div class="form-group row">
                    <label class="col-sm-3 control-label" style="margin-left: -120px">Year of Edition :</label>
                    <div class="col-sm-9">
                          <input class="form-control" type="text" name="year_of_edition" ngModel>
                    </div>
                   </div>
                   <div class="form-group row">
                    <label class="col-sm-3 control-label" style="margin-left: -120px">Total Book :</label>
                    <div class="col-sm-9">
                          <input class="form-control" type="text" name="total_books" ngModel>
                    </div>
                   </div>
                   <div class="form-group row">
                    <label class="col-sm-3 control-label" style="margin-left: -120px">Price :</label>
                    <div class="col-sm-9">
                          <input class="form-control" type="text" name="price" ngModel>
                    </div>
                   </div>
                  <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                              
                              <button type="submit" class="btn btn-primary" (click)="addBookAlert()">Submit</button>
                              <button type="button" class="btn btn-warning" id="cancelbutton" data-toggle="modal" data-target="#myModal">Reset</button>
                              <button type="submit" class="btn btn-warning" id="cancelbutton" data-toggle="modal" data-target="#myModal" (click)="modalRef.hide()">Cancel</button>&nbsp;
                        </div>
                  </div>
            </form>
      </div>
    </div>
    </div>
  
</ng-template>

<!--update book-->
<ng-template #template1>
    <div style="width: 1200px;margin-left: -199px">
    <div class="row">
      <div class="modal-header col-sm">
        <div class="col-sm-2" >
        </div>
        <div class="col-sm-8">
            <h4 class="modal-title pull-center" id="myModalLabel"><br><i class="fas fa-plus-square fa-3x"></i><label id="modId"> Edit New Book Details</label></h4>
        </div>
        <div class="col-sm-2">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-window-close fa-2x"></i>
          </button>
        </div>
  
      </div>
    </div>
        
        <div class="row" >
        <div class="modal-body" >
            
              <form #updateForm = "ngForm" (ngSubmit) = "updatebook(updateForm)" class="form-horizontal" >
                    <input type="hidden" name="_id">
  
                    <div class="form-group row">
                          <label class="col-sm-3 control-label" style="margin-left: -120px">ISBN :</label>
                          <div class="col-sm-9">
                                <input class="form-control" type="text" name="isbn_no"  [ngModel]="selectedAddbook.isbn_no" required>
                          </div>
                    </div>
                    <div class="form-group row">
                              <label class="col-sm-3 control-label" style="margin-left: -120px">Book Name :</label>
                              <div class="col-sm-9">
                                    <input class="form-control" type="text" name="book_name"  [ngModel]="selectedAddbook.book_name" required>
                              </div>
                        </div>
                    <div class="form-group row" style="margin-left: 0px">
                      <label class="col-sm-3 control-label" >Chategory :</label>
                      <div class="col-sm-9">
                                  <select class="form-control" type="text" id="category" name="title"   [ngModel]="selectedAddbook.title" style="margin-left: -130px">
                                        <option>Drama</option>
                                        <option>Joke</option>
                                        <option>Film</option>
                                  </select>
                      </div>
                  </div>
                   
                   
                    <div class="form-group row">
                      <label class="col-sm-3 control-label" style="margin-left: -120px">Subtitle :</label>
                      <div class="col-sm-9">
                            <input class="form-control" type="text" name="subtitle" [ngModel]="selectedAddbook.subtitle">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 control-label" style="margin-left: -120px">Author :</label>
                      <div class="col-sm-9">
                            <input class="form-control" type="text" name="author" [ngModel]="selectedAddbook.author">
                      </div>
                     </div>

                     <div class="form-group row">
                        <label class="col-sm-3 control-label" style="margin-left: -120px">Edition :</label>
                        <div class="col-sm-9">
                              <input class="form-control" type="text" name="edition" [ngModel]="selectedAddbook.edition">
                        </div>
                     </div>
                     <div class="form-group row">
                      <label class="col-sm-3 control-label" style="margin-left: -120px">Year of Edition :</label>
                      <div class="col-sm-9">
                            <input class="form-control" type="text" name="year_of_edition" [ngModel]="selectedAddbook.year_of_edition">
                      </div>
                     </div>
                     <div class="form-group row">
                      <label class="col-sm-3 control-label" style="margin-left: -120px">Total Books :</label>
                      <div class="col-sm-9">
                            <input class="form-control" type="text" name="total_books" [ngModel]="selectedAddbook.total_books">
                      </div>
                     </div>
                     <div class="form-group row">
                      <label class="col-sm-3 control-label" style="margin-left: -120px">Price :</label>
                      <div class="col-sm-9">
                            <input class="form-control" type="text" name="price" [ngModel]="selectedAddbook.price">
                      </div>
                     </div>
                     
                    <div class="form-group">
                          <div class="col-sm-offset-3 col-sm-9">
                                
                              <button type="submit" class="btn btn-primary" (click)="modalRef.hide();updateBookAlert()">Submit</button>&nbsp;  
                              <button type="submit" class="btn btn-warning" id="cancelbutton" data-toggle="modal" data-target="#myModal" (click)="modalRef.hide()">Cancel</button>&nbsp;
                              <button type="button" class="btn btn-warning" id="cancelbutton" data-toggle="modal" data-target="#myModal">Reset</button>
                          </div>
                    </div>

              </form>
        </div>
      </div>
      </div>
    
  </ng-template>


  

  