
    
<!-- edit press kalama thamai meka weda karanna one-->  
 
    <div class="container-fluid">
      <h2 align="center">Food name</h2>
                  
      <table id="recipie" class="table table-striped" >
        <thead>
<!-- mewa polimta html liyanna bane.. 
  user edit karaddi table ekata, db ekata add wenna onee-->
          <tr>
            <th><i class="fa fa-edit" ></i> Item Name(Ingredient)</th>
            <th>Item Code</th>            
            <th><i class="fa fa-edit" ></i> Quantity</th>
            <th>Scale</th>
            <th>Unit Cost</th>
            <th>Quantity Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><div contenteditable="true">Rice</div></td>
            <td>derived</td>
            <td><div contenteditable="true">500</div></td>
            <td>derived</td>
            <td>derived</td>
            <td>derived</td>
          </tr>
          <tr>
            <td><div contenteditable="true">Dhal</div></td>
            <td>derived</td>
            <td><div contenteditable="true">100</div></td>
            <td>derived</td>
            <td>derived</td>
            <td>derived</td>
          </tr>
          <tr>
            <td><div contenteditable="true">Flour</div></td>
            <td>derived</td>
            <td><div contenteditable="true">100</div></td>
            <td>derived</td>
            <td>derived</td>
            <td>derived</td>
          </tr>
          <tr>
            <td><div contenteditable="true">Milk</div></td>
            <td>derived</td>
            <td><div contenteditable="true">1</div></td>
            <td>derived</td>
            <td>derived</td>
            <td>derived</td>
          </tr>
          <tr>
            <td><div contenteditable="true">Water</div></td>
            <td>derived</td>
            <td><div contenteditable="true">1</div></td>
            <td>derived</td>
            <td>derived</td>
            <td>derived</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br><br><br>

    
     
    <div class="col-sm-9 col-md-12 text-center"> 
      <span>
    <button class="btn-success" ><i class="fa fa-save" ></i> Save Changes</button>
    </span>
    <span>
    <button class="btn-primary"><i class="fa fa-undo"></i> Undo the Changes</button>
    </span>
    <span>
    <button class="btn-danger"><i class="fa fa-close"></i> Remove this</button>
    </span>
    <span>
    <button class="btn-primary" onclick=""><i class="fa fa-plus"></i></button>
    </span>
     
  </div>
