
  <div class="container-fluid">
    <br><br><br>
    <form class="form-horizontal" action="/action_page.php">
      <fieldset>
          <legend><h2>Calculate Unit Cost</h2></legend>
      <div class="form-group">
        <label class="control-label col-sm-2">Item Name:</label>
        <div class="col-sm-10">
          <input class="form-control" id="itemName" placeholder="Item Name" name="itemName">
        </div>
      </div>
      <br><br>
      <div class="form-group">
        <label class="control-label col-sm-2">Item Code:</label>
        <div class="col-sm-10">
          <input class="form-control" id="itemCode" placeholder="Item Code" name="itemCode">
        </div>
      </div>
      <br><br>
      <div class="form-group">
        <label class="control-label col-sm-2" >Unit Scale:</label>
        <div class="col-sm-10">
          <input class="form-control" id="unitScale" placeholder="Unit scale" name="unitScale">
        </div>
      </div>
      <br><br>
      <div class="form-group">
        <label class="control-label col-sm-2" >Unit Cost:</label>
        <div class="col-sm-10">
          <input class="form-control" id="unitCost" placeholder="Unit Cost" name="unitCost">
        </div>
      </div>
      <br><br>      
      <div class="form-group">        
        <div class="col-sm-offset-6 col-sm-10">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </div>
      </fieldset>
    </form>
  </div>
    
