<div class="limiter" style="width: 1200px;">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(images/bg.jpg);">
					<span class="login100-form-title-1" style="font-size: 25pt">
						REGISTER
					</span>
				</div>

				<form class="login100-form validate-form">
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100" style="font-size: 15pt"><b>First Name</b></span>
						<input class="input100" type="text" name="username" placeholder="Enter First Name">
						<span class="focus-input100"></span>
          </div>
          <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
              <span class="label-input100" style="font-size: 15pt"><b>Last Name</b></span>
              <input class="input100" type="text" name="username" placeholder="Enter Last Name">
              <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                <span class="label-input100" style="font-size: 15pt"><b>Email</b></span>
                <input class="input100" type="text" name="username" placeholder="Enter Email">
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                <span class="label-input100" style="font-size: 15pt"><b>Id No</b></span>
                <input class="input100" type="text" name="username" placeholder="Enter Id No">
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                <span class="label-input100" style="font-size: 15pt"><b>Password</b></span>
                <input class="input100" type="text" name="username" placeholder="Enter Password">
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                <span class="label-input100" style="font-size: 15pt"><b>Confirm Password</b></span>
                <input class="input100" type="text" name="username" placeholder="Enter Repassword">
                <span class="focus-input100"></span>
            </div>

					


					<div class="container-login100-form-btn">
						<button class="login100-form-btn" style="font-size: 15pt">
							<b>Submit</b>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	