
/* froms*/

fieldset{
       
    padding: 10px 140px 10px 140px;
    border: 1px solid #4169E1;

    }
legend{
    text-align: center;

}
form[name = "unitCost"]{
    float: left;
}

form[name = "addRecipie"]{
    float: right;
}

input[type = "submit"]{
	
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.panel-title{
	text-align: center;
}
h2{
	text-align: center;
}
.btn-primary {
    
    border: none;
    color: white;
    
    font-size: 16px;
    cursor: pointer;
}
.btn-danger {
    
    border: none;
    color: white;

    font-size: 16px;
    cursor: pointer;
}
span{
	float:right;
}





